.friend_list {
    width: 400px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.item_friends {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px #c6cccced;}

.false {
    background-color: red;
}

.true {
    background-color: green;
}

.item_friends:not(:last-child) {
    margin-bottom: 8px;
}

.item_friends:first-child {
    margin-top: 8px;
}

.name {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.22;
}

.status {
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 50%;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 15px;
    margin: 0 16px;
    background-color: #bdbdfa;
}